$desktop: 768px;
$txt-color: rgba(0,0,0,.7);

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: $txt-color;
}

img{
    max-width: 100%;
    height:auto;
}

.container{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 16px;
}
